.sidebar {
  width: 210px;
  background: #003348;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.04);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* Aplicado a NavLink automáticamente si está activo */
.sidebar-btn {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.08rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.19s;
  text-decoration: none;
}

.sidebar-btn.active,
.sidebar-btn:hover {
  background: #037bb6;
}
